<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessServerIp" value="10.10.200.49"/>
    <add key="AccessServerPort" value="7331"/>
    <add key="AccessServerUserId" value="0001"/>
    <add key="AccessServerUserPassword" value="1234"/>
    <add key="MagzineIn" value="3"/>
    <add key="ArmoryIn" value="2"/>
    <add key="MessageBody" value="p/o no {0}  has entered the {1}"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
      <add name="myDatabaseConnection" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user=root;database=cghq_access;port=3306;password=btlAccess2019@#$"/>
      <add name="nitgenDatabaseConnection" providerName="System.Data.SqlClient" connectionString="Server=WIN-R52J7HKU7EC\NITGEN;User Id=sa;Database=NitgenAccessManager;Password=bltAccess2019@#$;"/>
  </connectionStrings>
  <system.data>
      <DbProviderFactories>
        <remove invariant="MySql.Data.MySqlClient" />
        <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
             type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.16.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      </DbProviderFactories>
    </system.data>
</configuration>